{% extends "::base.html.twig" %}

{% block body %}
    <h3>Thank you for your order</h3>

    <!-- Show order Id -->

    <!-- Show billing and shipping address -->

    <!-- Show order products -->

{% endblock %}